{% extends "base.html" %}
{% load static %}

{% block link %}
    <script defer src = "{% static 'chat_app/js/chat.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Кімната чату</h1>
    {% if user.is_authenticated %}
        <h2>Ви увійшли як {{ user.username }}</h2>
        
        <form id = "messageForm">
            {{ form.as_p }}
            <button>Надіслати</button>
        </form>
        <div id = "messages">
        </div>
    {% else %}
        <p>Увійдіть, щоб мати змогу переписуватись.</p>
    {% endif %}
{% endblock %}
     

