{% extends "base.html" %}
{% load static %}

{% block link %}
    <script defer src = "{% static 'chat_app/js/chat.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Група "{{ chat_group }}"</h1>
    <input id="groupId" type="hidden" value="{{ chat_group.id }}">
    {% if user.is_authenticated %}
        <h2>Ви увійшли як {{ user.username }}</h2>
        
        <form id = "messageForm" ty>
            {{ form.as_p }}
            <button>Надіслати</button>
        </form>
        <div id = "messages">
            {% for message in messages %}
                <p>{{ message.author.username }}: {{ message.content }} ({{ message.date_time }})</p>
            {% endfor %}
        </div>
    {% else %}
        <p>Увійдіть, щоб мати змогу переписуватись.</p>
    {% endif %}
{% endblock %}
     

